<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DC Quizzes</title>
</head>
<body>
    <h1>Welcome to the DigitalCrafts Quiz App!</h1>
        <form action="" method="POST">
            <label for=""> Username
                <input name="username" type="text" placeholder="SuperUser2000">
            </label>
            
            <label for=""> Password
                    <input name="password" type="text" placeholder="supersecret">
            </label>

            <input type="submit" value="Log In">
        </form>

        <form action="/signup" method="GET">
            <input type="submit" value="Create New Account">
        </form>
</body>
</html>






