<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Something went wrong</title>
</head>
<body>
<form action="/" method="POST">
    <input name="username" type="text" placeholder="username">
    <p>The username or password does not match any account.
        <a href="/signup">Sign up for an account</a>
    </p>
    <input  name="hash" type="text" placeholder="password">
    <input type="submit" value="Log In">
</form>
</body>
</html>