
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
</head>
<body><div class="score"></div>
${ruling}
<div class="correct-answer-summary">
    <div class="player-answer">${playerAnswer}</div>
    <div class="correct-answer">${correctAnswer}</div>
    <div class="correct-answer-blurb"></div>
</div>

${next}

</body>
</html>

