<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question</title>
</head>
<body>
<div class="status">
    <div class="question-number">${questionNum}/10</div>
    <div class="score">${score}/10</div>
</div>

<form class="question-box" method="POST" action="">
    <div class="question">${question}</div>
        <div class="answers">
            ${answers.map(answer => `
                <label for="">
                    <input name="answer" type="radio" autofocus value="${answer}">${answer}
                </label>
            `).join('')}
        </div>
    </div>
    
    <button type="submit">Submit</button>
</form>
<form action="/save-progress" method="POST">
    <button type="submit">Save and Quit</button>
</form>

</body>
</html>