<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Exists</title>
</head>
<body>
<h1>Sign Up</h1>
<p>It's quick and easy.</p>
<h2>Sorry but that username already exists.</h2>
<form action="" method="POST">
    <input name="firstname" type="text" placeholder="First Name">
    <input name="lastname" type="text" placeholder="Last Name">
    <input name="username" type="text" placeholder="username">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="text" placeholder="password">
    <input type="submit" value="Sign Up">
</form>
</body>
</html>